* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* next button */
#next-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    float: right;
}

/* score area, correct/incoreect */

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.score-area {
    margin: 30px auto;
    width: 50%;
    font-size: 18px;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* restart button */
#restart-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 38%;
}