*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* score area, correct/incoreect */

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.score-area {
    margin: 4px auto;
    width: 50%;
    font-size: 18px;
}


.scores {
    display: inline-block;
    padding: 25px;
}
